<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @bank_transaction.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bank_transaction.status %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @bank_transaction.bank_account_id %>
</p>

<p>
  <strong>Output:</strong>
  <%= @bank_transaction.output %>
</p>

<%= link_to 'Edit', edit_bank_transaction_path(@bank_transaction) %> |
<%= link_to 'Back', bank_transactions_path %>
